.VPHome .VPHero .main::before {
    content: '';
    background-image: url(/favicon-512x512.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    position: absolute;
    box-shadow: 0.4rem 0.4rem 2rem 0 #00000066;
}

.VPHome .VPHero .main > *:not(.actions) {
    max-width: 40rem !important;
}

@media (min-width: 720px) {
    .VPHome .VPHero .main::before {
        border-radius: 3rem;
        width: 12rem;
        height: 12rem;
        right: 0;
        top: 0;
    }

    .VPHome .VPHero .main>*:not(.actions) {
        margin-right: 16rem;
    }
}

@media (max-width: 719px) {
    .VPHome .VPHero .main::before {
        border-radius: 2rem;
        width: 8rem;
        height: 8rem;
        left: calc(50% - 4rem);
        top: 0;
    }

    .VPHome .VPHero .main {
        padding-top: 10rem;
    }
}