img[src="/logo.png"] {
    display: inline-block;
    height: 5rem;
    width: auto;
    margin: 2rem;
}

a.x-external-link:not(.x-dead-link) {
    --icon: url(/icon/link-external.svg);
    color: var(--vp-c-yellow-2) !important;
    display: inline-block;
    text-decoration: underline dotted;
}

a.x-external-link:hover {
    text-decoration: underline dashed;
}

a.x-external-link.x-dead-link {
    --icon: url(/icon/link-broken.svg);
    color: red !important;
    text-decoration: none;
}

a.x-external-link.x-dead-link:hover {
    text-decoration: line-through;
}

.x-external-link::before {
    content: "";
    margin: 0 0.25em;
    width: 1em;
    height: 1em;
    display: inline-block;
    background: currentColor;
    vertical-align: middle;
    flex-shrink: 0;
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    mask-position: center;
    transform: translateY(-0.1em);
}